---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<Layout title='Godwin Ebikwo - Home'>
  <section class='intro'>
    <div class='intro_inner'>
      <h1 class='title'>Holla, I am Godwin</h1>

      <h2 class='description'>
        I am a data science Master’s Student, with a strong background in
        programming, statistical analysis and machine learning. I am interested
        in utilizing data-driven strategies to drive informed decision making,
        captivate audiences through storytelling, foster innovation and
        facilitate growth within organizations.
      </h2>

      <ul role='list' class='flex flex-row gap'>
        <li>
          <a class='link link--metis' href=''>Twitter</a>
        </li>
        <li>/</li>
        <li>
          <a class='link link--metis' href=''>Github</a>
        </li>
        <li>/</li>
        <li>
          <a class='link link--metis' href=''>LinkedIn</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- <section class='post_section'>
    <div class='post_section-header'>
      <h3 class='post_section-header_title'>Latest Posts</h3>
      <a class='link link--metis' href='/posts'>See all Posts</a>
    </div>

    <ul class='posts_row'>
      {
        allPosts.map((post) => (
          <Card
            href={post.url}
            title={post.frontmatter.title}
            body={post.frontmatter.description}
            tags={post.frontmatter.tags}
          />
        ))
      }
    </ul>
  </section> -->

  <section class='post_section'>
    <div class='post_section-header'>
      <h3 class='post_section-header_title'>Seleted Projects (5)</h3>
    </div>

    <ul class='posts_row'>
      {
        allPosts.map((post) => (
          <Card
            href={post.url}
            title={post.frontmatter.title}
            body={post.frontmatter.description}
            tags={post.frontmatter.tags}
          />
        ))
      }
    </ul>

  </section>
</Layout>

<style lang='scss'>

  ul[role='list'],
  li,
  ol[role='list'] {
    list-style: none;
  }


  .intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 768px) {
      gap: 3rem;
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
  }

  .intro_inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .title {
      font-size: var(--font-size-xl);
      line-height: 1;
      font-weight: 500;
      letter-spacing: -0.02em;
    }

    .description {
      width: auto;
      max-width: 60ch;
      line-height: 1.7;
      letter-spacing: 0em;
      font-weight: 400;
      font-size: inherit;
    }
  }

  .post_section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .post_section-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .post_section-header_title {
    font-weight: 00;
    letter-spacing: -0.02em;
  }

  .posts_row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
</style>
