---
import BlogLayout from './BlogLayout.astro';
const { frontmatter } = Astro.props;
---

<BlogLayout title={frontmatter.title}>
  <header class='c-block_header' role='presentation'>
    <p class='c-subtitle'>{frontmatter.pubDate.slice(0, 10)}</p>
    <p class='c-subtitle'>Written by: {frontmatter.author}</p>
    <p class='c-caption'>{frontmatter.description}</p>
  </header>

  <img src={frontmatter.image.url} width='300' alt={frontmatter.image.alt} />

  <ul class='tags'>
    {
      frontmatter.tags.map((tag) => (
        <li class='tag'>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>

  <!-- <div class='c-block_title'>
    <h2 class='c-title'>{frontmatter.title}</h2>
  </div> -->

  <slot />
</BlogLayout>

<style lang='scss'>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem auto;
  }

  .tag {
    backdrop-filter: blur(12px);
    border-image: initial;
    background-position: 100%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.1);
    margin-right: 0.5rem;
    padding: 0.5em 1em;
    text-transform: capitalize;

    &:last-child {
      margin-right: 0;
    }
  }

  .c-block_header {
    margin-bottom: 1.5rem;

    .c-caption {
      color: var(--text-bright-accent);
      margin-bottom: 0.42rem;
      text-transform: capitalize;
      letter-spacing: -0.033em;
    }

    .c-subtitle {
      color: var(--text-bright-accent);
    }
  }

  .c-block_title {
    margin-bottom: 1.5rem;

    .c-title {
      margin-top: 0;
      font-weight: bold;
      letter-spacing: -0.03em;
      line-height: 1.3;
      font-size: 1.25rem;
    }
  }
</style>
